body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

#hamberger-menu{
    font-size:40px;
    cursor:pointer;
    position: absolute;
    z-index: 2;
    color:aliceblue;
}

#hamberger-menu span{
    margin-left:50px;
}

/* The sidenav (background) */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;/* Stay in place */
    z-index:1;/* Sit on top */
    left: 0;
    top: 0;
    background-color: #F15A29;
    overflow-x: hidden;/* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    padding-top: 60px;
    text-align: center;
}

/* Position the content inside the sidenav */
.sidenav a {
    font-family: 'Raleway', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    font-family: 'Raleway', sans-serif;
    color: #f1f1f1;
    text-decoration: none;
    font-family: 'Droid Serif', serif;
    font-size: 35px;
}


/* Position the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a { font-size: 18px;}
}

/*Landing Intro*/
#landing-intro{
    position: relative;
}

#landing-img img{
    width: 100%;
}
#logobig-img{
    text-align: center;
}