body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
#hamberger-menu {
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 2;
    color: aliceblue;
    position: fixed;
}
#hamberger-menu span {
    margin-left: 50px;
}

/* The sidenav (background) */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #F15A29;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    padding-top: 60px;
    text-align: center;
}

/* Position the content inside the sidenav */

.sidenav a {
    font-family: 'Raleway', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    font-family: 'Raleway', sans-serif;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 35px;
}

/* Position the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*Landing Intro*/

#landing-img {
    position: relative;
}
#logobig-img {
    text-align: center;
    position: absolute;
    right: 50px;
    left: 50px;
    top: 0;
    padding-top: 50px
}
#logobig-img p {
    text-align: center;
    padding-top: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: aliceblue;
}

/*Media Query for logoBig img*/

@media only screen and (max-device-width: 1060px) {
    #logobig-img p {
        visibility: hidden;
    }
}
@media only screen and (max-device-width: 790px) {
    #logobig-img img {
        visibility: hidden;
    }
}

/*Custom fix for Head-text for small devices*/

@media only screen and (max-device-width: 790px) {
    #Head-text-min-dev h1 {
        visibility: visible;
        color: aliceblue;
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 60px;
        position: relative;
        bottom: 120px;
    }
}
@media only screen and (min-device-width: 790px) {
    #Head-text-min-dev h1 {
        visibility: hidden;
    }
}

/*Food Time Section 4 GRIDS*/

.nopadding {
    padding: 0 !important;
    margin: -90px 0 0 0 !important;
}
.row p {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 65px;
    left: 100px;
    color: white;
}
@media only screen and (max-device-width: 990px) {
    .row p {
        font-size: 40px;
    }
}

/*Fast Food and Drinks*/
/*Left side*/
#box-holder-FF-Left{
    margin: 50px 0px;
    padding: 60px 60px;
    box-shadow: inset 0 0 20px #000000;
}
.view-btn {
    border: 1px solid #F15B29;
    border-radius: 3px;
    color: #F15B29;
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 30px;
}

/*Right side*/
#box-holder-FF-Right{
    margin: 100px 100px 0 0;
    font-family: 'Droid Serif', serif;
}

/*Drinks*/
#box-holder-DK-Left{
    padding:0 50px 0 0;
    text-align: right;
    margin: 0 0 0 70px;
    font-family: 'Droid Serif', serif;
}